body {
    background-color:navy;
    color: white;
    padding: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    flex: 1;
    align-content: 'space-between'

  };
  .px-2 {
    padding-left: '($spacer * .5) !important';
    padding-right: '($spacer * .5) !important';
  };
  .footer{
    flex: 'display';
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    justify-content: 'space-between'
  }